.header{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    align-items: center;

    & nav{
        display: flex;
    }

    &__home{
        text-decoration: none;
        color: var(--branco);
        border-bottom: .5px solid var(--branco);
        font-size: .8rem;
        font-weight: 400;
    }

    & button{
        background-color: transparent;
        border: none;
        outline: 0;
        color: var(--branco);
        font-size: 20px;
        display: none;
    }
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;

    
}

@media (max-width: 425px) {
    .headerNav{
        & button{
            display: inline-block;
        }
        & nav{
            display: none;

        }
    }
}