.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -48px;

    &::before{
        content: "";
        width: 1px;
        height: 250px;
        background-color: var(--branco);
        position: absolute;
        left: 220px;
    }

    & img{
        width: 172px;
        padding: 2rem 1.5rem;
    }
    & h1{
        margin: 2rem 1.5rem;
        width: 250px;
        font-size: 1.25rem;
        font-weight: 400;
        color: var(--branco);
    }
}

.objectivesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textoExpansao{
    position: relative;
    &::before{
        content: "";
        width: 30px;
        height: 30px;
        border-top: 2px solid var(--azul-principal);
        border-left: 2px solid var(--azul-principal);
        position: absolute;
        left: -1rem;
        top: -.5rem;
    }
    &::after{
        content: "";
        width: 30px;
        height: 30px;
        border-bottom: 2px solid var(--azul-principal);
        border-right: 2px solid var(--azul-principal);
        position: absolute;
        right: -1rem;
        bottom: -.5rem;
    }
}

@media (max-width: 425px) {
    .headerContainer{
        flex-direction: column;
        &::before{
            width: 100%;
            left: 0;
            top: 145px;
            height: 1px;
        }
    }
}